In [21]:
import pandas as pd
import numpy as np
from sklearn import random_projection

In [66]:
a = [1,2,3,4,5,6]
b = [1,2,3,4,5,6]
c = [1,2,3,4,5,6]
d = [1,2,3,4,5,6]
e = [1,2,3,4,5,6]
f = [1,2,3,4,5,6]
output = [2,4,6,8,10,12]
rp = random_projection.SparseRandomProjection(n_components=2)

In [85]:
data = {"a":a,"b":a,"c":a,"d":a,"e":a,"f":a}

In [86]:
data1 = pd.DataFrame(data)

In [87]:
data1

   a  b  c  d  e  f
0  1  1  1  1  1  1
1  2  2  2  2  2  2
2  3  3  3  3  3  3
3  4  4  4  4  4  4
4  5  5  5  5  5  5
5  6  6  6  6  6  6

In [88]:
rp.fit(data1)

SparseRandomProjection(dense_output=False, density='auto', eps=0.1,
            n_components=2, random_state=None)

In [89]:
X_new = rp.transform(data1)

In [90]:
X_new

array([[-1.10668192,  2.21336384],
       [-2.21336384,  4.42672768],
       [-3.32004576,  6.64009152],
       [-4.42672768,  8.85345536],
       [-5.5334096 , 11.0668192 ],
       [-6.64009152, 13.28018304]])