In [156]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [157]:
data = load_iris()
clf = DecisionTreeClassifier(criterion= 'entropy')

In [158]:
X= data.data
y = data.target

In [159]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 47)

In [160]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [161]:
y_pred =  clf.predict(X_test)
accuracy_score(y_true = y_test,y_pred = y_pred)

0.9473684210526315

In [153]:
df = pd.DataFrame({'a': y_test, 'b': y_pred})
df

    a  b
0   0  0
1   0  0
2   1  1
3   0  0
4   0  0
5   2  2
6   1  1
7   2  2
8   1  1
9   0  0
10  2  2
11  0  0
12  1  1
13  2  2
14  2  2
15  2  2
16  1  1
17  0  0
18  0  0
19  0  0
20  2  2
21  1  1
22  2  2
23  2  1
24  2  2
25  2  2
26  1  1
27  2  2
28  0  0
29  0  0
30  2  2
31  1  1
32  2  2
33  0  0
34  2  1
35  0  0
36  0  0
37  0  0