In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [3]:
database= pd.read_csv('winequality.csv')

In [4]:
database.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
database.isnull().any()

fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [6]:
X = database[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates','alcohol']].values
y = database['quality'].values
X.shape

(1599, 11)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
print(X_train.shape)
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

(1279, 11)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [8]:
y_pred = regressor.predict(X_test)
X_test.shape

(320, 11)

In [9]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df1 = df.head(25)

In [10]:
df1

    Actual  Predicted
0        6   5.782930
1        5   5.036193
2        7   6.596989
3        6   5.339126
4        5   5.939529
5        6   5.007207
6        5   5.396162
7        6   6.052112
8        4   4.867603
9        5   4.950676
10       5   5.285804
11       5   5.412653
12       6   5.705742
13       5   5.129217
14       6   5.528852
15       6   6.380524
16       7   6.810125
17       5   5.738033
18       5   5.976188
19       4   5.086134
20       7   6.344799
21       6   5.164010
22       6   5.642040
23       4   6.146290
24       6   5.481780

In [11]:
print(metrics.mean_absolute_error(y_test,y_pred))

0.4696330928661114

In [12]:
print(metrics.mean_squared_error(y_test,y_pred))

0.38447119782012484

In [13]:
np.sqrt(metrics.mean_squared_error(y_test,y_pred))

0.6200574149384271